<h1>Find out the coinage!!</h1>
<form action="/coin_counter">
  <div class="form-group">
    <label for="cents">Put in the amount in cents! e.g. $3.36 would be "336"</label>
    <input id="cents" name="cents" class="form-control" type="number">
  </div>
  <button type="submit" class="btn-danger">Calculate coins!</button>
</form>
