body {
  background-color: black;
}

h1 {
  color: #1890e9;
  font-size: 64px;
  text-align: center;
  margin-top: 66px;

}

label {
  color: #f9fac1;
}

h2 {
  color: #f9fac1;
  text-align: center;
}

form {
  align: center;
}
